<h1>New Book</h1>
<%= form_with scope: :book, url: books_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <%= form.submit %>
<% end %>

<%= render 'books/back' %>